html,
body 
    margin: 0
    height: 100%
.d-block 
    border-radius: 2.2rem
nav 
    height: 10%

footer 
    height: 20%
.main-container 
    height: 70%
    margin: 0
    &-index
        margin: 0
.body-content 
    width: 80%
    background-color: #eff5fb
    &-ext
        width: 80%
        background-color: #eff5fb
        width: 100%
@media (max-width: 800px) 
    .body-content
        width: 100%
    
    .main-container
        height: fit-content
    
    nav,
    footer
        height: fit-content
  

  

