@import "variables"  
@media ( max-width: 800px ) 
.body-content
    .container
        .col-sm
                margin-bottom: 3rem
                display: flex
                flex-direction: column
                

