@import "variables"  
@media ( max-width: $breakpoint-m ) 
    .body-content
        .container
            .col-sm
                margin-bottom: 3rem
                display: flex
                flex-direction: column
                

