@import "variables"

.body-login
    display: flex
    justify-content: center
    .card
        width: 70%
        .right
            background-color: $pastel-blue
        h4 
            font-weight: bold

        
