@import "variables"
@import "login.sass"
.body-signin
    .card
        h4 
            margin-bottom: 5%
        .row
            margin-top: 5%
 
@media ( max-width: $breakpoint-m )
    .body-signin
        padding: 10% 0%
        height: fit-content
        .right
            display: none
        .card
            width: 90%
        .row 
            justify-content: space-evenly
            margin-top: 20%
        .form-row
            margin: 0
        .add-col
            justify-content: starts
