// Font  
//$primary-font: 'Lato', sans-serif
$title-font: #383376
$body-font:#262626
$light-font:#8c949c
$light-icons: rgba(146, 154, 161)
// Colors-for directory
$background-color: #eff5fb
$header-color: #5061ce
$rgba-header: rgba(56, 51, 118)
$sidebar-color: #ffffff
//Secondary colors
$color-yellow: #fdd656
$color-red: #f44147
$color-blue: #0078d7
//Pastel colors
$pastel-red: #fff2f2
$pastel-yellow: #fff9f1
$pastel-green: #fff9f1
$pastel-blue: #eefbff
//Responsive
$breakpoint-sm: 800px
